# database url
DATABASE_URL=""

# gemini api key 
GEMINI_API_KEY=""

# betterauth secret
BETTER_AUTH_SECRET=""

# betterauth configuration
BETTER_AUTH_URL=""
NEXT_PUBLIC_BETTER_AUTH_URL=""
NEXT_PUBLIC_APP_URL=""

# auth with google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# resend api key
RESEND_API_KEY=""