# Database
DATABASE_URL=""

# Gemini API Key 
GEMINI_API_KEY=""

# BetterAuth Secret
BETTER_AUTH_SECRET=""

# BetterAuth Configuration
BETTER_AUTH_URL=""
NEXT_PUBLIC_BETTER_AUTH_URL=""
NEXT_PUBLIC_APP_URL=""

# Auth with Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend API Key
RESEND_API_KEY=""