# Database
DATABASE_URL=""

# Gemini API Key 
GEMINI_API_KEY=""

# BetterAuth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Auth with Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend API Key
RESEND_API_KEY=""